@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: "Workbench", sans-serif;
}

.replay {
    font-size: 100px;
}

#replay {
    font-size: 40px;
}

.hidden {
    display: none;
}

.difficulty-selector {
    font-size: 20px;
}

#difficulty {
    width: 100px;
    height: 26px;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}

button {
    background-color: #c6c6c6;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-family: "Workbench", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2fff63;
}

.life-points-container {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    width: 400px;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: rgb(198, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
}

i {
    font-size: 80px;
    color: transparent;
}

.card.flipped {
    background-color: #43fff2;
}

.card.flipped i {
    color: #282828;
    transition: color 0.3s ease-in-out;
}

.card.matched {
    background-color: #2fff63;
}
